@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  h3 {
    display: grid;
  }
  .section {
    padding-bottom: 0;
  }

  .mobile-hide {
    display: none;
  }
  .container {
    width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
  }
  .logo {
    padding: 24px 0 24px 16px;
  }
  .hero {
    width: 428px;
    height: 432px;
    padding-top: 112px;
  }
  .hero-title {
    width: 320px;
    height: 80px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    padding-top: 24px;
  }

  .section-title {
    margin-bottom: 96px;
  }

  .quality-list {
    display: inline;
  }
  .quality-items {
    width: 356px;
  }
  .text-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    align-items: center;
    justify-content: center;
    color: #2e2f42;
  }
  .text {
    width: 396px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 72px;
  }
  .team-list {
    display: grid;
    gap: 72px;
    padding-bottom: 128px;
  }
  .team {
    width: 425px;
  }
  .team-items {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
  }
  .photo-mobile {
    width: 264px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 128px;
    padding-left: 24px;
  }
  .foot {
    display: grid;
    width: 428px;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .cont-foot {
    display: grid;
  }
  .logo-foot {
    display: flex;
    justify-content: center;
  }
  .footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 72px;
  }
  .soc-text {
    align-items: center;
    display: grid;
    justify-content: center;
  }

  .foot-link {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
  .foot-list {
    margin-left: auto;
    margin-right: auto;
  }
  .form-email-input {
    width: 396px;
  }
  .form-email {
  }
  .subscribe-input {
    display: inline;
  }
  .subscribe-btn {
    margin: 16px 132px;
  }
  .logo-footer {
    margin: 0;
  }

  .modal {
    padding-left: 18px;
    padding-right: 18px;
  }

  .mob-btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 22px;
    background-color: transparent;
    border: none;
    padding: 0;
  }
}
