@media screen and (min-width: 768px) and (max-width: 1200px) {
              body {
                overflow-x: hidden;
              }
              h3 {
                display: grid;
              }
              .section {
                padding-bottom: 0;
              }

              .container {
                width: 768px;
                padding-left: 16px;
                padding-right: 16px;
                margin: 0;
              }
              .logo {
                padding: 24px 0 24px 16px;
              }
              .contact-list {
                display: inline;
              }

                .hero {
                  width: 768px;
                  height: 432px;
                  padding-top: 112px;
                  background-image: linear-gradient(
                      rgba(46, 47, 66, 0.7),
                      rgba(46, 47, 66, 0.7)
                    ),
                    url(../images/tab/hero/hero-bg_tab@1x.jpg);
                }
                  @media screen and (min-device-pixel-ratio: 2),
                    screen and (min-resolution: 192dpi),
                    screen and (min-resolution: 2dppx) {
                    .hero {
                      background-image: linear-gradient(
                          rgba(46, 47, 66, 0.7),
                          rgba(46, 47, 66, 0.7)
                        ),
                        url(../images/tab/hero/hero-bg_tab@2x.png);
                    }
                  }
  
  
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .mob-btn {
      display: none;
    }
    .tab-hide {
      display: none;
    }
  }
  .section-title {
    display: flex;
    margin-bottom: 96px;
    justify-content: center;
    align-items: center;
  }
  .text-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
  }
  .text {
    width: 324px;
    height: 72px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .quality {
    display: flex;
  }
  .quality-list {
    flex-wrap: wrap;
    gap: 64px;
    padding-bottom: 128px;
    
  }
  .quality-items {
    width: 356px;
    height: 120px;
  }
  .team {
    display: flex;
  }
  .team-list {
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 128px;
    padding-left: 24px;
  }
  .customers {
    display: flex;
  }
  .customers-list {
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 128px;
    padding-left: 24px;
  }
  .cont-foot {
    display: flex;
    flex-wrap: wrap;
  }

  .subscribe {
    display: grid;
    margin-top: 64px;
  }
  .subscribe-btn {
    margin-left: 96px;
  }

}
