@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  h3 {
    display: grid;
  }
  .section {
    padding-bottom: 0;
  }

  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
  }
  .logo {
    padding: 24px 0 24px 16px;
  }
  .contact-list {
    display: inline;
  }
  .hero {
    width: 768px;
    height: 432px;
    padding-top: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tab/hero/hero-bg_tab@1x.jpg);
  }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/tab/hero/hero-bg_tab@2x.png);
      }
    }
  }
  


 
}
